{
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"],
  "plugins": [
    ["emotion", { "inline": true }],
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src/@types/apollo-client/graphql-types.d.ts"
        },
        "extensions": [".js", ".ts", ".tsx", ".graphql"],
        "root": ["./src", "./src/@types"]
      }
    ]
  ]
}
